nav {
    padding: 0;
    margin: auto;
}

nav div a img{
    height: 8vh;
    margin: 0;
}

form {
    margin: auto;
}

textarea.form-control {
    width: 50%;
}

td{
    padding: 70px 0;
}

.btn-link{
    text-decoration: none;
}

.match-team{
    width: 40%;
}

.round{
    width: 60vw;
}

.submit-tournament{
    margin-bottom: 15px;
}

a{
    text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.number-input{
    min-width: 50px;
}

